body {
  background-color: #e8e4db; /* Elegant Ivory Background */
}

.candle-count-display {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0d1b2a; /* Deep Navy Blue */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ffd700; /* Gold Accent */
}

.candle-count-display span {
  font-weight: bold;
  color: #c5a880; /* Champagne Gold */
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -125px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #bbb;
  border-radius: 50%;
  box-shadow: 0 2px 0 #a0a0a0, 0 4px 0 #a0a0a0, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #0d1b2a; /* Deep Navy */
  box-shadow: 0 2px 0px #102a43, 0 4px 0px #1b3a5d, 0 6px 0px #1b3a5d, 0 8px 0px #1b3a5d, 0 10px 0px #1b3a5d;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 223, 186, 0.5), 0 0 20px rgba(255, 223, 186, 0.3);
}

.candle {
  background-color: #c5a880; /* Champagne Gold */
  width: 12px;
  height: 35px;
  border-radius: 6px/3px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}

.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #b68d40; /* Dark Gold */
}

.flame {
  position: absolute;
  background-color: #ffac33;
  width: 10px;
  height: 25px;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.6), 0 0 60px rgba(255, 140, 0, 0.5);
  animation: flicker 1s ease-in-out alternate infinite;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d1b2a;
  color: #c5a880;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  animation: blink 1s linear infinite;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  filter: drop-shadow(0 0 5px gold);
}
